@charset "utf-8";
@font-face {
  font-family: 'Roboto Slab', serif;
  font-style: normal;  
}

 
      Styles
*/

html {height: 100%;
	font-size: 1vw;
}
        
body{
  
bodyposition: absolute;
	
width: 100%;
min-width: 720px;
max-height: 100%;
margin-left: auto;
margin-right: auto;
	
background-color: rgb(211, 252, 254);
background-image: url(mallwalker.jpg);
background-attachment: fixed;
background-position: center bottom;
background-repeat: no-repeat;
  }
img#oldLady {
	position: relative;
	filter: drop-shadow(0px 0px 3px firebrick);
	width: 150%;
	max-width: 200px;
}

img#sloth {
	position: relative;
	filter: drop-shadow(0px 0px 3px mediumblue);
	width: 150%;
	max-width: 200px;
}
