@charset "utf-8";
@font-face {
  font-family: "Times New Roman"; Times, serif;
  font-style: normal;
  }
 
      Styles
*/

html {
        height: 100%
        font-size: 1vw;
}
h1 {
  text-align: center;
  font-family: "Times New Roman"; Times, serif;
  font-size: 3em;
  }
  
  
  
  
        
